*{
    padding: 0px;
    margin: 0px;
    }
/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 80%;
	margin: auto;
	border: solid, 2px, var(--accent-color);
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
	border-top: solid, 2px, var(--accent-color);
	border-bottom: solid, 2px, var(--accent-color);
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header {
	border-bottom: solid, 2px, var(--accent-color);
	& h2 {
		font-size: 175%;
		padding-bottom: 0%;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		float: left;
		margin-top: .75em;
		margin-bottom: .75em;
		margin-right: 1em;
		margin-left: 1em;

	}
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
}
/* the styles for the main content */
main {
	border-top: solid, 2px, var(--accent-color);
	border-bottom: solid, 2px, var(--accent-color);
	clear: left;
	& p {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	& ul {
		padding-top: .5em;
		padding-bottom: .5em;
		padding-left: 2em;
	}
	& h1 {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	& h2 {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	& h3 {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	& img {
		border: double, 4px, var(--accent-color), rounded;
	}
}

blockquote {
	font-style: italic;
	padding-left: .5em;
}

/* the styles for the footer */
footer {
	& p {
		text-align: center;
		font: white;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	background-color: var(--accent-color);
}

/* CSS class */
.large {
	font-size: 125%;
}